
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: auto;
   overflow-x:hidden;
   background-blend-mode: darken;
}
#top-brand{
    display: flex;
    box-shadow: 10px 10px 20px red;
    justify-content: center;
    background-image: url('bg-home.jpg');
    min-height: 300px;
}
#brand-img{
    height: 150px;
}
#main-p{
    width: auto;
    /* border: 2px solid rgb(255, 246, 246); */
    opacity: 90%;
    background-color: white;
    
}
#nav{
    background-image: radial-gradient(rgb(204, 219, 216), rgb(241, 255, 192), rgb(225, 224, 217));
}
.image{
    height: 250px;
}
.one{
    margin-top: 10px;
    margin-bottom: 60px;
    background-color: white;
    opacity: 70%;
    color: black;
    font-style: oblique;
    font-weight: 800;
    box-shadow:6px 6px 12px white;
    
   
}
.ones{
    margin-top: 10px;
    margin-bottom: 60px;
    border: 1px groove white;
    padding-left: 0;
    background-color: white;
    color: black;
    font-style: oblique;
    font-weight: 500;
    box-shadow: inset 6px 6px 12px white;
    /* height: fit-content; */
}
/* #close-search{
    width: 20px;
    height: 20px;
   
   /* margin-block: 50%; */
/* } */
.h2{
    text-align: center;
}
.images{
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 5px;
   
}

#items{
    background-color: white;
}
#searchItems{
    background-color: white;
}
/* .id, .title ,.price ,.description ,.brand ,.rating ,.discount ,.cartegory::first-line{
    color: rgb(225, 230, 231);
} */
.id, .title ,.price ,.description ,.brand ,.rating ,.discount ,.cartegory{
    font-style: oblique;
}
#search{
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}
.footer{
    opacity: 90%;
    background-image: url('footer.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 800;
}
#logo{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}