
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: auto;
   overflow-x:hidden;
   background-image: url('bg-home.jpg');
   background-blend-mode: darken;
   /* background-repeat: no-repeat; */
   /* background-position: center; */
   /* background-size: cover; */
}
#brand-img{
    height: 180px;
}
#main-p{
    width: auto;
    /* border: 2px solid rgb(255, 246, 246); */
    opacity: 80%;
    background-color: black;
}
.one{
    margin-top: 10px;
    margin-bottom: 60px;
    /* border: 1px groove rgb(39, 32, 48); */
    padding-left: 0;
    background-color: black;
    opacity: 90%;
    color: white;
    font-style: oblique;
    font-weight: 500;
    /* height: fit-content; */
   
}
.ones{
    margin-top: 10px;
    margin-bottom: 60px;
    border: 1px groove rgb(39, 32, 48);
    padding-left: 0;
    background-color: black;
    color: white;
    font-style: oblique;
    font-weight: 500;
    /* height: fit-content; */
}
#close-search{
    width: 20px;
    height: 20px;
    display: block;
    
}
.h2{
    text-align: center;
}
.images{
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 5px;
   
}
#items{
    background-color: black;
}
#searchItems{
    background-color: black;
}
/* .id, .title ,.price ,.description ,.brand ,.rating ,.discount ,.cartegory::first-line{
    color: rgb(225, 230, 231);
} */
.id, .title ,.price ,.description ,.brand ,.rating ,.discount ,.cartegory{
    font-style: oblique;
}
#search{
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}
.footer{
    opacity: 80%;
    background-image: url('footer.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}