*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: auto;
   overflow-x: hidden;
   background-color: black;
}
#brand-img{
    height: 180px;
}
#main-p{
    width: auto;
    border: 2px solid rgb(236, 226, 226);
    background-color: black;
}

.one{
   font-weight: 600;
   justify-content: center;
   margin-top: 10px;
    margin-bottom: 60px;
    border: 1px groove rgb(228, 221, 236);
    padding-left: 10px;
    background-color: black;
    color: rgb(219, 224, 228);
}
.h2{
    text-align: center;
}
#nav{
    /* z-index: 1; */
    background-color: black;
    /* position: sticky; */
}

.id{
    justify-self:center;  
}
.iphone-images{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
.id, .title ,.price{
    font-style: oblique;
}



