*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

   overflow: auto;
}
#brand-img{
    height: 180px;
}
#main-p{
    overflow: hidden;
    width: auto;
}
#items{
    padding-bottom: 50px;
    width: fit-content;
    display: flex;
    justify-content: center;
    width: 100%;
}

.one{
   color: rgb(4, 48, 65);
   font-weight: 600;
   justify-content: center;
   margin-bottom: 100px;
}
.h2{
    text-align: center;
}
#nav{
    /* z-index: 1; */
    background-color: black;
    /* position: sticky; */
}

.id{
    color: black;
    justify-self: flex-start;  
}
.iphone-images{
    border-radius: 90px;
}
.title{
    width: 10%;
    color: black;
}


